
<h1 class="text-center">WELCOME! Please Enter a one word movie title.</h1>



<%= form_tag root_path, :method => 'get' do %>
   <p>
     <%= text_field_tag :title %>
     <%= submit_tag "Search" %>
   </p>
<% end %>





  <p><%= image_tag @poster %></p>


<div class="container-fluid">
<h2 class="text-center">HERE IS SOME INFORMATION ABOUT YOUR MOVIE SEARCH</h2>
</div>


<div class="container-fluid">
  <h1 ><%= @title %></h1>
  <h3><%= @synopsis %></h3>
  <h3><strong>Year:</strong> <%= @year %></h3>
  <h3><strong>Runtime: </strong><%= @runtime %> Minutes</h3>
  <h3><strong>Movie Rating: </strong> <%= @mpaa_rating %></h3>
  <h3><strong>Movie ID: </strong> <%= @id %></h3>
</div>
