<h1>Welcome To My Blog!</h1>

<div>
  <h3>This site is a weekly journal of my journey at The Iron Yard Academy.</h4>
  <h3>I'm sure some of you are asking <strong><%= link_to "who is John Cato?", "/about" %></strong> click on the link to find out.</h3>
</div>


<%= image_tag "Iron-Yard.png" %>


<nav>
  <ol>
    <li><%= link_to "First Week", "/post1"  %></li>
    <li><%= link_to "Growth", "/post2"  %></li>
    <li><%= link_to "Pressing On", "/post3" %></li>
  </ol>
</nav>
